.form-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  margin: 20px 0;
  display: grid;
  width: 50%;
  height: 25%;
}

label {
  justify-self: left;
}

input {
  height: 25px;
}

.submit-button {
  height: 25px;
  margin: 25px 0;
}
