.form-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  justify-self: center;
  width: 70%;
  margin: 25px 0;
}

.submit-button:active {
  background-color: lightgreen;
  color: white;
}
